/* Fuente del sitio */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Paleta de colores */

:root {
    /*
        https://coolors.co/palette/e3f2fd-bbdefb-90caf9-64b5f6-42a5f5-2196f3-1e88e5-1976d2-1565c0-0d47a1
    */
    --color1: #A9D6E5;
    --color2: #82b6ca;
    --color3: #61A5C2;
    --color4: #468FAF;
    --color5: #2C7DA0;
    --color6: #2A6F97;
    --color7: #014F86;
    --color8: #01497C;
    --color9: #013A63;
    --color10: #012A4A;
}


/* Colores de fuente */

.c1 {
    color: var(--color1);
}

.c2 {
    color: var(--color2);
}

.c3 {
    color: var(--color3);
}

.c4 {
    color: var(--color4);
}

.c5 {
    color: var(--color5);
}

.c6 {
    color: var(--color6);
}

.c7 {
    color: var(--color7);
}

.c8 {
    color: var(--color8);
}

.c9 {
    color: var(--color9);
}

.c10 {
    color: var(--color10);
}


/* Colores de borde */

.bd1 {
    border-color: var(--color1);
}

.bd2 {
    border-color: var(--color2);
}

.bd3 {
    border-color: var(--color3);
}

.bd4 {
    border-color: var(--color4);
}

.bd5 {
    border-color: var(--color5);
}

.bd6 {
    border-color: var(--color6);
}

.bd7 {
    border-color: var(--color7);
}

.bd8 {
    border-color: var(--color8);
}

.bd9 {
    border-color: var(--color9);
}

.bd10 {
    border-color: var(--color10);
}


/* Colores de fondo */

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.bg3 {
    background-color: var(--color3);
}

.bg4 {
    background-color: var(--color4);
}

.bg5 {
    background-color: var(--color5);
}

.bg6 {
    background-color: var(--color6);
}

.bg7 {
    background-color: var(--color7);
}

.bg8 {
    background-color: var(--color8);
}

.bg9 {
    background-color: var(--color9);
}

.bg10 {
    background-color: var(--color10);
}


/* Estilo de caja */

.box {
    margin: 7px;
    padding: 5px;
    border-radius: 10px;
}


/* Estilo de borde */

.border {
    border-width: 1px;
    border-style: solid;
}


/* Sistema grid */

.flex {
    display: flex;
}

.col {
    flex-flow: column nowrap;
}

@media (min-width: 450px) {
    .row {
        flex-flow: row wrap;
    }
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

#container {
    margin: 4.5px;
    text-align: center;
}


/* Formato básico */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
span {
    display: block;
}

h1,
h2,
h3,
h4,
p {
    cursor: default;
}

button {
    cursor: pointer;
}

a,
button {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font: 1em/1.618 Inter, sans-serif;
}


/*------------
    Header    
------------*/

/* header {
    position: sticky;
    top: 12px;
    z-index: 1;
} */

header#index-header {
    margin: 9px 7px 6px 7px;
    padding: 5px;
    border-radius: 10px;
}

/* Biblioteca Online */
header#index-header nav ul li:first-child {
    order: 1;
}

/* Inventario */
header#index-header nav ul li:nth-child(2) {
    order: 2;
}

/* Servicios */
header#index-header nav ul li:nth-child(3) {
    order: 3;
}

/* Contacto */
header#index-header nav ul li:nth-child(4) {
    order: 4;
}

/* Ingresar */
header#index-header nav ul li:nth-child(5) {
    order: 5;
}

/* Registrarse */
header#index-header nav ul li:last-child {
    order: 6;
}

@media (min-width: 450px) {

    header#index-header nav ul li:first-child,
    header#index-header nav ul li:nth-child(3),
    header#index-header nav ul li:nth-child(4) {
        flex-basis: 100%;
    }

    header#index-header nav ul li:nth-child(2),
    header#index-header nav ul li:nth-child(3),
    header#index-header nav ul li:nth-child(5),
    header#index-header nav ul li:last-child {
        flex-basis: 50%;
    }
}

@media (min-width: 550px) {

    header#index-header nav ul li:nth-child(2),
    header#index-header nav ul li:nth-child(3),
    header#index-header nav ul li:nth-child(4) {
        flex-basis: 33.33%;
    }

    header#index-header nav ul li:nth-child(5),
    header#index-header nav ul li:nth-child(6) {
        flex-basis: 50%;
    }
}

@media (min-width: 750px) {

    header#index-header nav ul li:nth-child(2),
    header#index-header nav ul li:nth-child(3),
    header#index-header nav ul li:nth-child(4),
    header#index-header nav ul li:nth-child(5),
    header#index-header nav ul li:last-child {
        flex-basis: 20%;
    }
}

@media (min-width: 1012px) {
    header#index-header nav ul li:nth-child(n) {
        flex-basis: 10em;
    }

    header#index-header nav ul li:nth-last-child(2) {
        margin-left: auto;
    }
}


/*----------
    Hero    
----------*/

section#hero {
    position: relative;
    padding: 0;
}

section#hero picture img {
    border-radius: 9px !important;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

section#hero div {
    padding: 20px;
    color: var(--color8);
    border-radius: 9px !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(169, 214, 229, 0.8);
    backdrop-filter: blur(5px);
}

section#hero div h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
}

section#hero div h1 span {
    font-size: 0.75em;
    font-weight: 400;
}

section#hero div p {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 20px;
}

section#hero div p span {
    display: inline;
}

section#hero div a {
    font-size: 1.1em;
    padding: 10px 20px;
}

@media (min-width: 736px) {
    section#hero div {
        flex-basis: 100%;
    }
}

@media (min-width: 738px) {
    section#hero div p span {
        display: block;
    }
}

@media (min-width: 1012px) {
    section#hero {
        height: 85.9vh;
    }
}


/*----------------
    Inventario    
----------------*/

/* section#inventory {
    height: 100vh;
} */

section#inventory div {
    margin: 14px 7px 7px 7px;
    padding: 12.5px;
    border-radius: 10px;
    color: var(--color8);
}

section#inventory ul li figure {
    position: relative;
    margin: 7px;
    padding: 14px;
    border-radius: 10px;
    overflow: hidden;
}

section#inventory ul li figure img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

section#inventory ul li figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(169, 214, 229, 0.8);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

section#inventory ul li figure figcaption h3,
section#inventory ul li figure figcaption h4 {
    margin: 0;
    font-weight: 500;
    color: var(--color10);
}

section#inventory div p span {
    display: inline;
}

@media (min-width: 400px) {
    section#inventory ul li:nth-child(n) {
        flex-basis: 50%;
    }
}

@media (min-width: 738px) {
    section#inventory div p span {
        display: block;
    }
}

@media (min-width: 800px) {
    section#inventory ul li:nth-child(n) {
        flex-basis: 25%;
    }
}

@media (min-width: 1600px) {
    section#inventory ul li:nth-child(n) {
        flex-basis: 12.5%;
    }
}


/*--------------
    Services    
--------------*/

/* Encabezado */

section#services div#encabezado {
    margin: 14px 7px 7px 7px;
    padding: 12.5px;
    border-radius: 10px;
    color: var(--color8);
}

section#services div#encabezado p span {
    display: inline;
}

@media (min-width: 738px) {
    section#services div#encabezado p span {
        display: block;
    }
}

/* Tarjetas */

.card-content {
    padding: 2em 1.5em;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
}

div#cards i {
    font-size: 2.5em;
    margin-bottom: 0.1em;
    color: var(--color8);
}

div#cards h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0.5em 0;
    color: var(--color8);
}

div#cards p {
    font-size: 15px;
    line-height: 1.6;
    color: var(--color8);
}

div#cards div {
    flex: 1 1 0;
}

@media (min-width: 450px) {
    div#cards div {
        flex-basis: 47.5%;
    }
}

@media (min-width: 900px) {
    /* section#services {
        height: 80.3vh;
    } */

    div#cards {
        height: 80.3vh;
        /* Reajustar en base al contenido */
    }

    div#cards div {
        flex-basis: 30%;
    }
}


/*------------
    Footer    
------------*/

footer {
    margin: 7px 7px 8px 7px;
    padding: 11px;
    border-radius: 10px;
}

footer p {
    color: var(--color10);
}

@media (min-width: 380px) {
    footer p span {
        display: inline;
    }
}